[merge]
	renamelimit = 10000
	conflictStyle = diff3
[color]
	ui = auto
[user]
	email = nicholas.walton@gmail.com
	name = 
[gui]
	fontui = -family \"DejaVu Serif\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Ubuntu Mono\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
[push]
	default = current
[core]
	whitespace = tabwidth=4
[rebase]
	autosquash = true
	autostash = true
	missingcommitscheck = error
[diff]
	compactionHeuristic = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[cola]
	tabwidth = 4
	boldheaders = true
[apply]
	whitespace = nowarn
	ignoreWhitespace = change
