[submodule "buildroot"]
	path = buildroot
	url = file:///run/user/nicholaswalton/gvfs/smb-share:server=fs2.local,share=fs2/Git/buildroot
[submodule "linux"]
	path = linux
	url = file:///run/user/nicholaswalton/gvfs/smb-share:server=fs2.local,share=fs2/Git/linux
[submodule "at91bootstrap"]
	path = at91bootstrap
	url = file:///run/user/nicholaswalton/gvfs/smb-share:server=fs2.local,share=fs2/Git/at91bootstrap
[submodule "at91bootstrap-m18i-b"]
	path = at91bootstrap-m18i-b
	url = file:///run/user/nicholaswalton/gvfs/smb-share:server=fs2.local,share=fs2/Git/at91bootstrap
[submodule "at91bootstrap-m54"]
	path = at91bootstrap-m54
	url = file:///run/user/nicholaswalton/gvfs/smb-share:server=fs2.local,share=fs2/Git/at91bootstrap
[submodule "u-boot"]
	path = u-boot-at91
	url = file:///run/user/nicholaswalton/gvfs/smb-share:server=fs2.local,share=fs2/Git/u-boot
[submodule "flek"]
	path = src/flek
	url = /media/FS2/Git/flek
[submodule "fltk"]
	path = src/fltk1.3
	url = /media/FS2/Git/fltk
[submodule "mod_websocket"]
	path = src/mod_websocket
	url = /media/FS2/Git/mod_websocket
[submodule "psplash"]
	path = src/psplash
	url = /media/FS2/Git/psplash
[submodule "uthash"]
	path = src/uthash
	url = /media/FS2/Git/uthash
[submodule "M18_G35"]
	path = M18_G35
	url = file:///run/user/nicholaswalton/gvfs/smb-share:server=fs2.local,share=fs2/Git/M18_G35
[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/NicholasWalton/prezto.git

[submodule "antigen"]
	path = antigen
	url = https://github.com/desyncr/antigen.git

[submodule "src/thyme"]
	path = src/thyme
	url = https://github.com/sourcegraph/thyme.git
[submodule "src/fzf"]
	path = src/fzf
	url = https://github.com/junegunn/fzf.git